<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffPlex" version="1.4.4" targetFramework="net471" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net471" />
  <package id="ICSharpCode.Decompiler" version="4.0.0.4521" targetFramework="net471" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net471" />
</packages>